{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}

<main>
    <section class="hero grid-8x8" aria-label="hero">
        <h1 class="hero-greeting">Hello,</h1>
        <img src="/images/who.png" alt="Who? It's me, Joëlle!" class="hero-profile-pic"/>
        <div class="hero-text">
            <h1>I am Joëlle Ubink</h1>
            <h2>“Learning, experimenting, and creating game worlds where systems and interactions feel meaningful.”</h2>
        </div>
    </section>
    <h1 id="projects" class="header_h1">Projects</h1>
    <h2>"I’ve always loved games—they’ve been a way to escape, to feel, to learn, and they’ve helped me through a lot along the way. I carry a quiet gratitude for that. Lately, I’ve been chasing that feeling again. Projects like Godot Turbo, the procedural city generator, and my C++ and C# experiments have been my way of exploring how to make worlds feel alive, with systems and AI that behave believably. All of it is practice for a bigger passion project I want to start now. I know I’m just one person, and I don’t expect to do it all alone—tools, knowledge, and taking it step by step are how I’ll get there."</h2>
    <br/>
    <section class="grid-8x10 rowsize-200 projects" aria-label="portfolio projects">

    {{- macros::display_cards() -}}
    </section>
</main>
{% endblock content %}
